/* RESET */
* {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5d64c;
  color:black;
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}




/* HEADER */
header {
  padding: 1rem 1.5rem 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
 background-color: #fa9857;
}

#container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.55rem;
  height: 2.55rem;
  border-radius: 100%;
}

#container-logo:hover {
  background-color: #9999996c;
}

#logo {
  width: 2rem;
  border-radius: 100%;
}

#saludo {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 0.55rem;
}

#container-cart {
  min-width: 2.55rem;
  height: 4rem;
  display: flex;
  justify-content: end;
  align-items: center;
  position: relative;
  padding: 0.1rem;
}

.container-icon {
  width: 2rem;
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
}

#icon-cart {
  width: 100%;
  color: #ffffff;
}

#icon-cart:hover {
  color: #c7c7c7;
}

#count {
  background-color: rgba(0, 0, 0, 0.445);
  border-radius: 50%;
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
}





/* PAGINA INDEX */
main {
  width: 100%;
  max-width: 1200px;
  margin: auto auto 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-saludo {
  width: 90%;
  max-width: 21.37rem;
  display: flex;
  justify-content: space-between;
  background-color: #e6dcdc4d;
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.containerInput {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}

#user-name {
  background-color: transparent;
  color: #ffffff;
  border: 0.1rem solid #ffffff5b;
  font-size: 1rem;
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.12rem 0;
}

#user-name:focus {
  outline: none;
  border: 0.2rem solid #8AAAFA;
}

#btn-saludo {
  align-self: flex-end;
  background-color: #8AAAFA;
  color: #151515;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.24rem 0.5rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  border: none;
}

#btn-saludo:hover {
  background-color: #6893ff;
}

.caption {
  margin: 1rem 0;
  font-size: 1.9rem;
  font-weight: 800;
}

#container-products {
  width: 80%;
  display: grid;
  column-gap: 1.25rem;
  row-gap: 2.5rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 19rem));
  justify-content: center;
}

.product {
  background-color: #dceb8c;
  border-radius: 0.9rem;
  display: flex;
  flex-direction: column;
  border: 0.2rem solid white;
}

.img-card-product {
  width: 100%;
  height: 330px;
  border-radius: 0.5rem 0.5rem 0 0;
}

.body-product {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.name-card-product {
  flex-grow: 1;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.precio-card-product {
  margin-top: 1rem;
  padding-left: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color:black;
}

.btnAgregarCarrito {
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #fab78a;
  color: #151515;
  width: 100%;
  align-self: center;
  font-size: 1rem;
  font-weight: 800;
  padding: 0.3rem 0;
}

.btnAgregarCarrito:hover {
  background-color: #e60939;
}

.btnAgregarCarrito:active {
  background-color:#e60939;
  border-color:#e60939 ;
}





/* PAGINA CARRITO */
#container-cart-products {
  width: 100%;
  max-width: 30rem;
  background-color: #dceb8c;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

#text-cart-empty {
  display: none;
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid #ffffff;
}

table {
  width: 100%;
}

.td-pad-border {
  padding-bottom: 0.5REM;
  border-bottom: 0.1rem solid #ffffff;
}

td {
  text-align: center;
}

.td-img {
  width: 4rem;
  min-width: 4rem;
}

.img-cart-product {
  width: 100%;
  border-radius: 0.5rem;
}

.name-cart-product {
  text-align: left;
  font-size: 1rem;
  font-weight: 600;
}

.precio-cart-product, .cantidad-cart-product, .subtotal-cart-product {
  font-size: 0.9rem;
  font-weight: 400;
}

.cantidad-cart-product {
  display: flex;
  justify-content: center;
}

.cantidad-cart-product span {
  width: 2rem;
}

.subtotal-cart-product {
  width: 5.5rem;
}

.btn-remove, .btn-suma, .btn-resta {
  color: black;
  font-weight: 600;
  width: 1rem;
  line-height: 0.8rem;
  margin-bottom: 0.1rem;
  background-color: transparent;
}

.footer-cart {
  height: 4.93rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

#total {
  font-size: 1.3rem;
}

#container-btn-cart {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#btn-clear, #btn-finish {
  background-color: #ffffff;
  color: black;
  padding: 0.4rem 1rem;
  font-weight: 800;
  border-radius: 0.5rem;
}

#btn-clear:hover {
  background-color: #dfdfdf;
}

#btn-finish {
  background-color:#e60939;
  color: #151515;
}





/* SWEETALERT */
.container-sweetalert {
  width: 95%;
  max-width: 30rem;
}

.icon-sweetalert {
  margin-top: 0.7rem;
}

.title-clear-sweetalert {
  font-size: 1.1rem;
  padding: 0;
  margin: 0;
}

.title-finish-sweetalert {
  font-size: 1.1rem;
}

.btn-sweetalert {
  padding: 0.4rem 1rem 0.3rem 1rem;
  margin-top: 0;
  font-weight: 600;
}

.inputlabel-sweetalert {
  font-weight: 400;

}